body {
  font-family: sans-serif;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

input, button {
  margin: 10px;
  padding: 10px;
  font-size: 1em;
}

.emergency {
  background-color: red;
  color: white;
}